# Function calling + MCP seminars
jupyter
ipykernel
gigachat
python-dotenv>=1.0
requests>=2.31
httpx>=0.28
langchain-gigachat>=0.3,<0.4
langgraph>=1.0,<2.0
langchain-mcp-adapters==0.1.14
mcp>=1.9.2
rich>=13.0
parsel>=1.9
pydantic>=2,<3
